div#nav-overlay {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #37424e;
  z-index: 10;
}

div#nav-overlay div#menu-button {
  width: 100px;
  height: 100px;
  border: 1px solid #FFF;
}

div#nav-overlay ul {
  width: 95%;
  margin: 80px auto 0;
  text-align: center;
}

div#nav-overlay ul li {
  list-style: none;
  padding-bottom: 10vh;
  font-size: 30px;
}

div#nav-overlay ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #FFF;
}
