div#nav-overlay{
  position: fixed;
  //top: -120vh;
  left: 0%;
  width: 0%;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(55, 66, 78, 0.7);
  z-index: 10;
  transition: width 0.3s;
  ul{
    width: 95%;
    margin: 80px auto 0;
    text-align: center;
    li{
      list-style: none;
      padding-bottom: 10vh;
      font-size: 30px;
      a{
        text-decoration: none;
        letter-spacing: 2px;
        color: #FFF;
      }
    }
  }
}

.animate{
  transform: translateZ(-1500px) rotateX(80deg);
}
