@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "BebasNeue Regular";
  src: url("../fonts/BebasNeueRegular.ttf");
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url("../fonts/BebasNeueBold.ttf");
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 0) {
  div.nav-bar {
    width: 100%;
    background-color: #181717;
  }
  div.nav-bar ul {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 15px;
  }
  div.nav-bar ul li {
    list-style: none;
    text-align: center;
    font-family: "BebasNeue Regular", sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    padding-right: 15px;
    display: inline-block;
    transition: bottom 0.5s ease;
  }
}

@media screen and (min-width: 0) and (max-width: 835px) {
  div.nav-bar ul li {
    font-size: 20px;
    display: block;
  }
}

@media screen and (min-width: 0) and (min-width: 835px) {
  div.nav-bar ul li:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 0) {
  div.nav-bar ul li a {
    text-decoration: none;
    color: #E25D33;
    position: relative;
    padding: 10px;
  }
}

@media screen and (min-width: 0) and (min-width: 835px) {
  div.nav-bar ul li a:after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #E25D33;
    transition: width 0.5s;
  }
  div.nav-bar ul li a:hover:after {
    width: 100%;
  }
}

div.container {
  width: 100%;
  color: #FFF;
}

div.container .home .intro {
  background-color: #3E606F;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  border: 1px solid #000;
}

div.container .home .intro .greet {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
}

div.container .home .intro .name {
  font-family: "BebasNeue Bold";
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 2px;
}
